[config]
HOST = 192.168.10.213:9002
LOGIN_URL = http://192.168.10.213:9002/user/register
STYLE = 241
NICK_FIRST_NAME = lius
URL_TYPE = 1
CURRENCY_TYPE = 1
BACK_STAGE_URL = http://192.168.10.211:8082
MONEY = 100000000
GAMETYPE = 0
SQLSEVER_HOST = 192.168.10.199
SQLSEVER_PORT = 1433
USER_NAME = test
PWD = 123456
SQLSEVER_DB = OverseasGameV1
MANGODB_ADDRESS = mongodb://admin:admin@192.168.10.37:27017/OverseasGame?authSource=admin
MANGODB_DB = OverseasGame
CHROMEPATH = C:\Program Files\Google\Chrome\Application\chrome.exe